<meta name="description" content="Dastle Blog" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="author" content="David Z">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ site.name }}">
<meta property="og:image" content="{{ site.baseurl }}/assets/img/og-image.jpg">
<meta name="twitter:card" content="summary">


<link rel="icon" href="/favicon.ico">

<!-- PWA settings -->
<link rel="manifest" href="/manifest.json">
<link rel='dns-prefetch' href='//cdn.zhoues.com' />

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="Dastle">
<meta name="apple-mobile-web-app-title" content="Dastle">
<meta name="theme-color" content="#333541">
<meta name="msapplication-navbutton-color" content="#494f54">
<meta name="apple-mobile-web-app-status-bar-style" content="#494f54">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" sizes="512x512" href="/assets/img/icon-512.png">
<link rel="apple-touch-icon" sizes="512x512" href="/assets/img/icon-512.png">
<link rel="icon" sizes="192x192" href="/assets/img/icon-192.png">
<link rel="apple-touch-icon" sizes="192x192" href="/assets/img/icon-192.png">

<title>{{ page.title }} - {{ site.name }}</title>
<link rel="alternate" type="application/rss+xml" title="Dastle Blog" href="/atom.xml" />

<!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/gh/teatall/zhoues-cdn/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<!-- Fontawesome by CSS -->
<link href="https://cdn.jsdelivr.net/gh/teatall/zhoues-cdn/fontawesome/5.11.2/css/all.min.css" rel="stylesheet">

<!-- Magnific Popup styles -->
<link href="https://cdn.jsdelivr.net/gh/teatall/zhoues-cdn/magnific-popup/1.1.0/magnific-popup.css" rel="stylesheet">

<!-- Custom styles -->
<link href="/assets/css/styles.css" rel="stylesheet">

<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/gh/teatall/zhoues-cdn/jquery/3.4.1/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/teatall/zhoues-cdn/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

<!-- Magnific Popup JavaScript -->
<script type='text/javascript' src='https://cdn.jsdelivr.net/gh/teatall/zhoues-cdn/magnific-popup/1.1.0/jquery.magnific-popup.min.js'></script>

<!-- typeahead.js JavaScript -->
<script src="https://cdn.jsdelivr.net/gh/teatall/zhoues-cdn/typeahead/0.11.1/typeahead.bundle.min.js"></script>

<!-- Customised JavaScript -->
<script src="/assets/js/scripts.js"></script>
