---
layout: default
---
<h1 class="hyphenate">{{ page.title }}</h1>
<hr>
<ul class="list-inline text-muted small">
  <li class="list-inline-item author"><i class="far fa-user fa-fw mr-1"></i>{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</li>
  <li class="list-inline-item time"><i class="far fa-calendar-alt fa-fw mr-1"></i>{{ page.date | date_to_string }}</li>
  {% if page.tags.size > 0 %}<li class="list-inline-item time"><i class="fab fa-slack-hash fa-fw mr-1"></i>{{ page.tags | sort | join: ", " }}</li>{% endif %}
</ul>
<hr>
<main class="post">
  {{ content }}
</main>
<div class="livere-comments">
  <!-- LiveRe City install code -->
  <div id="lv-container" data-id="city" data-uid="MTAyMC80NzI2OC8yMzc2OA==">
  <script type="text/javascript">
     (function(d, s) {
         var j, e = d.getElementsByTagName(s)[0];

         if (typeof LivereTower === 'function') { return; }

         j = d.createElement(s);
         j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
         j.async = true;

         e.parentNode.insertBefore(j, e);
     })(document, 'script');
  </script>
  <noscript>Please activate JavaScript for write a comment in LiveRe</noscript>
  </div>
  <!-- completed City install code -->
</div>
