---
layout: default
---
<h1><i class="fab fa-slack-hash fa-fw mr-1"></i>{{ page.target_tag }}</h1>
<p class="lead">{{ page.desc }}</p>
<hr>
{% for post in site.tags[page.target_tag] %}
<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    <p class="card-text">{{ post.abstract }}<a href="{{ post.url }}" title="{{ post.title }}" class="mx-1"><i class="far fa-arrow-alt-circle-right"></i></a></p>
    <p class="card-text text-secondary meta small">{{ post.date | date_to_string }}</p>
  </div>
</div>
{% endfor %}
